/* <<<===== IMPORTING FONT =======>>>  */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
}

hr {
  height: 0.2rem;
  background: #cafdaa;
}

/* <<<<===================================:: NAVBAR ::================================>>>> */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #313f3f;
  padding: 0.25rem 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-center {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-header h2 {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 1.5rem;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.nav-links a:hover {
  color: #fca311;
}

@media (max-width: 768px) {
  .nav-center {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #292c35;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    transform: translateY(-100%);
  }

  .show-nav {
    transform: translateY(0);
  }

  .nav-header h2 {
    font-size: 1.2rem;
  }

  .nav-links li {
    margin: 0;
    margin-bottom: 1rem;
  }
}

/* <<<=========================== ::::::::: INTROCOMPONENT :::::::==============================> */
.into-section {
  background-color: #f5fff0;
  margin-top: 6rem;
  padding: 4rem;
}

.intro {
  width: 90%;
  display: flex;
  margin: auto 0;
  justify-content: space-between;
  align-items: center;
}

.intro-content {
  padding: 5rem;
  width: 100%;
  color: #313f3f;
  font-size: 18px;
}

.intro-image img {
  width: 140%;
  margin-top: 15%;
}

/* <<<========================== About Component ========================>>>>>  */
.about-section {
  background-color: #f5fff0;
  padding: 10rem 5rem 5rem 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-img img {
  height: 400px;
  border-radius: 45%;
}

.about-content {
  padding: 5rem;
  width: 100%;
  color: #313f3f;
  font-size: 20px;
  font-weight: 500;
}

/* <<<================================== Skills Components ===========================>>>  */
.skills-section {
  background-color: #f5fff0;
  padding: 5rem;
}

.skills-section h1 {
  font-size: 40px;
}

.skills-section h3 {
  font-size: 20px;
}

.programming-language,
.web-technologies,
.databases,
.others {
  display: flex;
  align-items: flex-start;
}

.programming-language a,
.web-technologies a,
.databases a,
.others a {
  text-decoration: none;
}

.programming-language h5,
.web-technologies h5,
.databases h5,
.others h5 {
  color: #fff;
  background-color: #074545;
  border: 3px solid rgb(160, 225, 158);
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  padding: 1.5rem;
  border-radius: 20px;
  cursor: pointer;
}

.programming-language h5:hover,
.web-technologies h5:hover,
.databases h5:hover,
.others h5:hover {
  background-color: #056767;
}

/* <<<================================== Projects Components ===========================>>>  */
.projects-section {
  background-color: #f5fff0;
  padding: 5rem;
}

.projects-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* <<<================================== Achievements Components ===========================>>>  */
.achievements-section {
  background-color: #f5fff0;
  padding: 5rem;
}

.achievements-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* <<<================================== Contact Components ===========================>>>  */
.contact-section {
  background-color: #f5fff0;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* <<<===================================== CARD ====================================>>>>>> */
.card {
  margin: 10px;
  width: 300px;
  background-color: #ecf5ed;
  border-radius: 7px;
  padding: 10px;
  border: 0.175rem solid rgb(134, 138, 134);
  box-shadow: 3px 3px 7px #888888, -3px -3px 5px #a8ada5;;
}

.card-img {
  border: 0.1rem solid rgb(134, 138, 134);
  background-color: #fff;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 200px;
  cursor: pointer;
}

.card-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-btn button {
  width: 45%;
  padding: 5px;
  cursor: pointer;
  background-color: #074545;
  border-radius: 5px;
}

.card-btn button a {
  text-decoration: none;
  color: #fff;
}

.card-btn button:hover {
  background-color: #056767;
}